/*.dark-theme nav,*/
.dark-theme > #banner div > div,
.dark-theme {
    background: #1B1B2F !important;
}

.dark-theme nav,
.dark-theme > #services,
.dark-theme > footer {
    background: #1e1e35 !important;
}

.dark-theme nav .navbar-nav .nav-item a {
    color: #bcbcbc;
}

.dark-theme > #banner .banner-title,
.dark-theme .portfolio-logo,
.dark-theme nav .navbar-nav .nav-item .active,
.dark-theme nav .navbar-nav .nav-item a:hover,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme > #services p,
.dark-theme > #projects p {
    color: white;
}

.dark-theme .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");;
}

.dark-theme .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}

.dark-theme #services .services-text-blue {
    color: var(--main-color);
}

.banner-sub-title {
    color: var(--main-color) !important;
}

.dark-theme #services .services-container {
    border-color: #bcbcbc;
}

.dark-theme .theme-background {
    background: #dcdcdc;
}

.dark-theme .services-title {
    color: #78acff !important;
}

.dark-theme .projects-definition-text-blue {
    color: #78acff !important;
}