@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

:root {
    --main-color: #5b99fd;
}

@font-face {
    font-family: CircularMedium;
    src: local("CircularMedium"), url("../fonts/circular/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: CircularBold;
    src: local("CircularBold"), url("../fonts/circular/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: CircularLight;
    src: local("CircularLight"), url("../fonts/circular/CircularStd-Light.otf") format("opentype");
}

* {
    font-family: CircularMedium, sans-serif;
}

body {
    background: white;
    height: 2000px;
}

.banner-container {
    margin-top: 75px
}

.banner-title {
    font-family: CircularBold, sans-serif, 'Helvetica Neue';
    font-size: 50px;
    color: #262930;
}

.banner-sub-title {
    color: var(--main-color);
    font-family: CircularBold, sans-serif, 'Helvetica Neue';
}

.banner-biography {
    color: #787e8c;
}

.banner-contact-me, .banner-contact-me:hover {
    padding: 10px 25px;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    background: var(--main-color);
    color: white;
}

#projects {
    margin-top: 145px;
}

.separator {
    display: inline-block;
    background: var(--main-color);
    height: 3px;
    width: 80px;
}

.projects-explanation {
    width: 100%;
    height: 100%;
    background: #cacaca;
    padding: 0;
    cursor: pointer;
}

.projects-overlay {
    background: rgba(0,0,0,.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.projects-title {
    bottom: 10px;
    left: 20px;
}

.projects-source-code-container {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
}

.projects-source-code-hover:hover .projects-source-code-icon {
    animation: github-spin 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes github-spin {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.projects-source-code, .projects-source-code:hover {
    border: 1px solid #ffffff77;
    border-radius: 100px;
    padding: 9px 20px;
    color: white;
    text-decoration: none;
}

.projects-source-code-icon {
    font-size: 20px;
    cursor: pointer;
}

.projects-definition {
    font-family: CircularLight, sans-serif, 'Helvetica Neue';
    font-size: 17px;
}

.projects-definition-text-blue {
    color: #4e90fc;
}

#services {
    background: rgba(234,229,229,0.33);
    width: 100%;
    margin-top: 200px;
}

.services-container {
    margin: 2px;
    padding: 20px;
    height: 340px;
    background: transparent;
    border: 2px solid var(--main-color);
}

.services-title {
    font-family: CircularMedium, sans-serif, 'Helvetica Neue';
    font-size: 24px;
    color: #2979fa;
}

.services-text-blue {
    color: #2979fa;
}

.skills-icon-container-light {
    background: rgb(229, 231, 235);
    border-radius: 7px;
}

.skills-icon-container-dark {
    background: rgb(34, 34, 34);
    border-radius: 7px;
}

#footer .email {
    text-decoration: underline;
    color: #7f8083;
}

#footer .love {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

#theme {
    bottom: 20px;
    left: 20px;
}

.theme-background {
    padding: 10px;
    background: rgb(107, 114, 128);
    border-radius: 700px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.language-container {
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: 80px;
}

.language-container > div {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    background: white;
}

.language-container > div:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.language-container > div:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.language-container > .language-active {
    background: var(--main-color);
    color: white;
}

.image-loaded {
    animation: lazy-load-image 1.5s;
    animation-fill-mode: forwards;
}

@keyframes lazy-load-image {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.portfolio-container, .section-container > .container {
    padding-left: 25px;
    padding-right: 25px;
}

.portfolio-logo {
    font-size: 27px;
    font-family: CircularBold, sans-serif, "Helvetica Neue";
}